spring:
  profiles:
    active: dev
server:
  port: 8095
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
## JWT配置
#jwt:
#  secret: risk-warning-platform-jwt-secret-key-2023
#  expiration: 86400
