spring:
  cloud:
    gateway:
      routes:
        # 用户认证服务
        - id: org-service
          uri: lb://risk-warning-org
          predicates:
            - Path=/api/org/**
          filters:
            - StripPrefix=2
        # 行为处理服务
        - id: processing-service
          uri: lb://risk-warning-processing
          predicates:
            - Path=/api/processing/**
          filters:
            - StripPrefix=2
        # 知识库服务
        - id: knowledge-service
          uri: lb://risk-warning-knowledge
          predicates:
            - Path=/api/knowledge/**
          filters:
            - StripPrefix=2
        # 报告服务
        - id: report-service
          uri: lb://risk-warning-report
          predicates:
            - Path=/api/report/**
          filters:
            - StripPrefix=2
        # 通知服务
        - id: notification-service
          uri: lb://risk-warning-notification
          predicates:
            - Path=/api/notification/**
          filters:
            - StripPrefix=2
        - id: noticication-service-ws
          uri: lb://risk-warning-notification
          predicates:
              - Path=/api/notification/**
          filters:
              - StripPrefix=2
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOriginPatterns: "*"
            allowedMethods: "*"
            allowedHeaders: "*"
            allowCredentials: true

server:
  port: 8088
