spring:
  profiles:
    active: dev
server:
  port: 8090
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
# Milvus向量数据库配置
#milvus:
#  host: localhost
#  port: 19530
